@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Button {
  @include button;

  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 222px;
  padding: 12px 0;
  border-radius: 22px;
  background-color: $blue-accent;
  opacity: 1;
  border: none;

  &[data-type="form"] {
    width: 100%;

    @media screen and (min-width: $tabletWidth) {
      width: 222px;
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    opacity: 0.7;
  }
}
