@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.radio {
  display: none;
}

.label {
  cursor: pointer;
  &::before {
    content: attr(data-title);

    display: block;
    padding: 10px 16px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;

    border: 1px solid $base-blue;
    border-radius: 20px;
    text-align: start;

    @include caption;
  }
}

.radio:not(:checked):hover + .label::before,
.radio:not(:checked):focus + .label::before {
  opacity: 0.5;
}

.radio:active + .label::before,
.radio:checked + .label::before {
  background-color: $base-blue;
}

.radio[data-type="form"] + .label::before {
  box-sizing: border-box;
  width: 200px;
}
