@import "./variables.scss";

@mixin Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@mixin adaptiveWidth {
  width: $mobileWidth;

  @media screen and (min-width: $tabletWidth) {
    width: 100vw;
  }

  @media screen and (min-width: $desktopWidth) {
    width: $desktopWidth;
  }
}
