$base-black: #020b14;
$base-white: #ffffff;
$base-gray: #bfc9d4;
$base-blue: #1f73f9;
$blue-accent: #00a1e7;

$base-gradient: linear-gradient(
  90deg,
  #0699db 0%,
  #2d5e87 25%,
  #2e2a3f 50%,
  #341926 75%,
  #150c15 100%
);

$mobileWidth: 375px;
$tabletWidth: 550px;
$desktopWidth: 1053px;
