@import "../../shared/styles/mixins.scss";
@import "../../shared/styles/variables.scss";

.FeedbackForm {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 16px;

  @media screen and (min-width: $tabletWidth) {
    padding-bottom: 24px;
  }

  @include adaptiveWidth;
}

.title {
  @include paragraph;
  color: $base-gray;

  font-size: 17px;
  line-height: 22px;
}
